.App{
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  justify-content: center;
  }


.ship{
  background-color: #2f4f4f;
  width: 23%;
  height: 90px;
  text-align: center;
  color: white;
  border-radius: 5px;
  padding-top: 20px;
}
.header{
  text-align: center;
  background-color: #282c34;
  color: white;
  padding: 5px;
}